<!DOCTYPE html>
<html>
<head>
    <title>
        Books
    </title>
    <link rel= "stylesheet" type= "text/css" href="../static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

</head>
<body>
<h1>The most interesting recipes from around the world!</h1>
<hr>

{% block content %}{% endblock %}

</body>
</html>
