{% extends "base.html" %}

{% block content %}
<h1>Available recipes</h1>
{% if recipes %}
<table class="customTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Views</th>
        <th>Cooking Time</th>
    </tr>
    </thead>
    <tbody>
        {% for recipe in recipes  %}
        <tr>
            <td>
                <a href="http://127.0.0.1:8000/recipes/{{recipe.id}}">{{ recipe.name }}</a>
            </td>
            <td>
                {{ recipe.views }}
            </td>
            <td>
                {{ recipe.cooking_time }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2> Sorry, there is no recipes in DB.</h2>
{% endif %}
{% endblock %}
